<!-- TODO improve loading info by adding some icons to show that something is being loaded -->
<div nz-row>
  <div nz-col nzMd="4" nzXs="8">
    <h3 class="text-white">TrincaChu</h3>
    <h6 class="text-white">{{user.name}} {{user.lastName}}</h6>
  </div>
  <div nz-col nzMd="16" nzXs="14">
    <div *ngIf="mobile$" class="wrapper">
      <button (click)="toggleCollapsed()" nz-button nzType="primary">
        <i [nzType]="isCollapsed  ? 'menu-unfold' : 'menu-fold'" nz-icon></i>
      </button>
      <ul [hidden]="isCollapsed && mobile$" [nzInlineCollapsed]="isCollapsed" [nzMode]="'inline'" nz-menu
          nzTheme="dark">
        <li nz-menu-item>
          <a (click)="addBarbecue()">Adicionar Churrasco</a>
        </li>
        <li nz-menu-item nzSelected>
          <a (click)="getFutureEvents()">Próximos Churrascos</a>
        </li>
        <li nz-menu-item>
          <a (click)="getEventsIWillAttend()">Presença Confirmada</a>
        </li>
        <li nz-menu-item>
          <a (click)="getMyEvents()">Meus Churrascos</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!mobile$">
      <ul [nzMode]="'horizontal'" nz-menu nzTheme="dark">
        <li nz-menu-item>
          <a (click)="addBarbecue()">Adicionar Churrasco</a>
        </li>
        <li nz-menu-item nzSelected>
          <a (click)="getFutureEvents()">Próximos Churrascos</a>
        </li>
        <li nz-menu-item>
          <a (click)="getEventsIWillAttend()">Presença Confirmada</a>
        </li>
        <li nz-menu-item>
          <a (click)="getMyEvents()">Meus Churrascos</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="align-content-center" nz-col nzMd="4" nzXs="2">
    <button [nzDropdownMenu]="menu2" nz-button nz-dropdown nzPlacement="bottomRight" nzShape="circle">
      <i nz-icon nzType="user"></i>
    </button>
  </div>
  <nz-dropdown-menu #menu2="nzDropdownMenu">
    <ul nz-menu>
<!--      TODO -->
<!--      <li nz-menu-item>-->
<!--        <a [href]="'/dashboard/configuration'" class="text-decoration-none">-->
<!--          Perfil-->
<!--          <i nz-icon nzTheme="outline" nzType="user"></i>-->
<!--        </a>-->
<!--      </li>-->
      <li (click)="logout()" class="btn-danger text-white" nz-menu-item>
        Logout
        <i nz-icon nzTheme="outline" nzType="logout"></i>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>

<app-barbecue-add (saved)="addBarbecue()" [isVisible]="isVisible"></app-barbecue-add>
