.beer {
  background-size: 20px;
  background: url('/assets/icons/alcohol.png') no-repeat;
  height: 20px !important;
  width: 20px !important;
  display: block;
}

.noBeer {
  background-size: 20px;
  background: url('/assets/icons/no-alcohol.png') no-repeat;
  height: 20px !important;
  width: 20px !important;
  display: block;
}
