<nz-modal (nzOnCancel)="cancel()"
          [(nzVisible)]="isVisible"
          nzTitle="Editar o churrasco">
  <ng-container *nzModalContent>
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'Editar Evento'">
        <form [formGroup]="barbecueEditForm" class="login-form p-3" nz-form>
          <!-- description -->
          <nz-form-item>
            <nz-input-group>
              <label>Descrição</label>
              <input formControlName="description"
                     nz-input placeholder="Descrição" type="text">
            </nz-input-group>
          </nz-form-item>
          <!-- observations -->
          <nz-form-item>
            <nz-input-group>
              <label>Observações</label>
              <input formControlName="observations"
                     nz-input placeholder="Observações" type="text">
            </nz-input-group>
          </nz-form-item>
          <!-- whenWillHappen -->
          <nz-form-item>
            <nz-input-group>
              <label>Quando ocorrerá?</label>
              <input formControlName="whenWillHappen"
                     nz-input type="datetime-local">
            </nz-input-group>
          </nz-form-item>
          <!-- confirmPresenceUntilDateTime -->
          <nz-form-item>
            <nz-input-group>
              <label>Confirmar presença até quando?</label>
              <input formControlName="confirmPresenceUntilDateTime"
                     nz-input type="datetime-local">
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button (click)="edit(barbecueEdit.id)" nz-button nzType="primary">Salvar alterações</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Adicionar Itens'">
        <form [formGroup]="itemAddForm" class="login-form p-3" nz-form>
          <!-- name -->
          <nz-form-item>
            <nz-input-group>
              <label>Nome</label>
              <input formControlName="name"
                     nz-input placeholder="Nome" type="text">
            </nz-input-group>
          </nz-form-item>
          <!-- value -->
          <nz-form-item>
            <nz-input-group>
              <label>Valor</label>
              <input formControlName="value"
                     min="0" nz-input type="number">
            </nz-input-group>
          </nz-form-item>
          <!-- quantity -->
          <nz-form-item>
            <nz-input-group>
              <label>Quantidade</label>
              <input formControlName="quantity"
                     min="0" nz-input type="number">
            </nz-input-group>
          </nz-form-item>
          <!-- category -->
          <nz-form-item>
            <nz-input-group>
              <label>Categoria</label>
              <br>
              <nz-select class="w-100" formControlName="category">
                <nz-option nzLabel="Bebida" nzValue="0"></nz-option>
                <nz-option nzLabel="Bebida alcólica" nzValue="1"></nz-option>
                <nz-option nzLabel="Comida" nzValue="2"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button (click)="addItem()" nz-button nzType="primary">Adicionar</button>
            </nz-form-control>
          </nz-form-item>
        </form>
        <app-items [totalValueBarbecue]="barbecueEdit.totalValue"></app-items>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Adicionar Participantes'">
        <form [formGroup]="attendeeAddForm" class="login-form p-3" nz-form>
          <!-- admin -->
          <nz-form-item>
            <nz-input-group>
              <label>Quem participará do churrasco?</label>
              <br>
              <nz-select formControlName="attendeeId"
                         nzPlaceHolder="Selecione o participante">
                <nz-option *ngFor="let a of attendees" nzLabel="{{a.name}} {{a.lastName}}"
                           nzValue="{{a.id}}"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-item>
          <!-- admin -->
          <nz-form-item>
            <nz-input-group>
              <label>É um organizador do churraco?</label>
              <br>
              <nz-radio-group
                formControlName="admin"
                nzButtonStyle="solid">
                <label nz-radio-button nzValue="true">Sim</label>
                <label nz-radio-button nzValue="false">Não</label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-item>
          <!-- consumeAlcoholicDrink -->
          <nz-form-item>
            <nz-input-group>
              <label>Irá consumir bebidas alcoólicas?</label>
              <br>
              <nz-radio-group
                formControlName="consumeAlcoholicDrink"
                nzButtonStyle="solid">
                <label nz-radio-button nzValue="true">Sim</label>
                <label nz-radio-button nzValue="false">Não</label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-item>
          <!-- paid -->
          <nz-form-item>
            <nz-input-group>
              <label>Já está pago?</label>
              <br>
              <nz-radio-group
                formControlName="paid"
                nzButtonStyle="solid">
                <label nz-radio-button nzValue="true">Sim</label>
                <label nz-radio-button nzValue="false">Não</label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button (click)="addAttendee()" nz-button nzType="primary">Adicionar</button>
            </nz-form-control>
          </nz-form-item>
        </form>
        <app-attendees [barbecue]="barbecueEdit"></app-attendees>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
</nz-modal>

