<nz-modal (nzOnCancel)="cancel()"
          (nzOnOk)="save()"
          [(nzVisible)]="isVisible"
          nzTitle="Adicionar um churrasco">
  <ng-container *nzModalContent>
    <form [formGroup]="barbecueForm" class="login-form p-3" nz-form>
      <!--   description -->
      <nz-form-item>
        <nz-input-group>
          <label>Descrição</label>
          <input formControlName="description"
                 nz-input placeholder="Descrição" type="text">
        </nz-input-group>
      </nz-form-item>
      <!--   observations -->
      <nz-form-item>
        <nz-input-group>
          <label>Observações</label>
          <input formControlName="observations"
                 nz-input placeholder="Observações" type="text">
        </nz-input-group>
      </nz-form-item>
      <!--   willYouConsumeAlcoholicDrink -->
      <nz-form-item>
        <nz-input-group>
          <label>Você vai consumir bebidas alcoólicas?</label>
          <br>
          <nz-radio-group
            formControlName="willYouConsumeAlcoholicDrink"
            nzButtonStyle="solid">
            <label nz-radio-button nzValue="true">Sim</label>
            <label nz-radio-button nzValue="false">Não</label>
          </nz-radio-group>
        </nz-input-group>
      </nz-form-item>
      <!--   whenWillHappen -->
      <nz-form-item>
        <nz-input-group>
          <label>Quando ocorrerá?</label>
          <input formControlName="whenWillHappen"
                 nz-input type="datetime-local">
        </nz-input-group>
      </nz-form-item>
      <!--   confirmPresenceUntilDateTime -->
      <nz-form-item>
        <nz-input-group>
          <label>Confirmar presença até quando?</label>
          <input formControlName="confirmPresenceUntilDateTime"
                 nz-input type="datetime-local">
        </nz-input-group>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

