<nz-modal (nzOnCancel)="cancel()"
          (nzOnOk)="item ?edit(item.id): save()"
          [(nzVisible)]="isVisible"
          nzTitle="Adicionar um churrasco">
  <ng-container *nzModalContent>
    <form [formGroup]="itemForm" class="login-form p-3" nz-form>
      <!--   description -->
      <nz-form-item>
        <nz-input-group>
          <label>Descrição</label>
          <input [ngModel]="item? item.description:''"
                 formControlName="description"
                 placeholder="Descrição" type="text" nz-input>
        </nz-input-group>
      </nz-form-item>
      <!--   observations -->
      <nz-form-item>
        <nz-input-group>
          <label>Observações</label>
          <input [ngModel]="item? item.observations:''"
                 formControlName="observations"
                 placeholder="Observações" type="text" nz-input>
        </nz-input-group>
      </nz-form-item>
      <!--   willYouConsumeAlcoholicDrink -->
      <nz-form-item>
        <nz-input-group>
          <label>Você vai consumir bebidas alcolicas?</label>
          <br>
          <nz-radio-group
            formControlName="willYouConsumeAlcoholicDrink"
            nzButtonStyle="solid">
            <label nz-radio-button nzValue="true">Sim</label>
            <label nz-radio-button nzValue="false">Não</label>
          </nz-radio-group>
        </nz-input-group>
      </nz-form-item>
      <!--   whenWillHappen -->
      <nz-form-item>
        <nz-input-group>
          <label>Quando ocorrerá?</label>
          <input [ngModel]="item? item.whenWillHappen:''"
                 formControlName="whenWillHappen"
                 type="datetime-local" nz-input>
        </nz-input-group>
      </nz-form-item>
      <!--   confirmPresenceUntilDateTime -->
      <nz-form-item>
        <nz-input-group>
          <label>Confirmar presença até quando?</label>
          <input [ngModel]="item? item.confirmPresenceUntilDateTime:''"
                 formControlName="confirmPresenceUntilDateTime"
                 type="datetime-local" nz-input>
        </nz-input-group>
      </nz-form-item>
    </form>

    <ng-template [ngIf]="item">
      <button (click)="delete(item.id)" class="mx-2" nz-button nzDanger nzType="primary">
        <i nz-icon nzTheme="outline" nzType="delete"></i>
        Deletar
      </button>
    </ng-template>
  </ng-container>
</nz-modal>

